*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, #716aff,#ba55ff);
}

.dateContainer{
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 30px;
    box-shadow: 5px 5px 4px rgba(0,0,0,0.4);
    border-radius: 10px;
    margin: 15px 0px;
    transition: 1s ease;
}

.dateContainer:hover{
    transform: scale(1.06);
    transition: 0.5s ease;
}

.heading{
    margin: 20px 0px;
    margin-top: -10px;
}

.heading h1{
    color: white;
    font-size: 25px;
    
}

.dobS{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dobS input {
    display: flex;
    background-color: white;
    border: none;
    width: 120px;
    padding: 10px 18px;
    margin: 15px 5px ;
    border-radius: 5px;
    font-size: 16px;
}

.dobS input:focus{
    outline: 1px solid #2b82ff;
}


.btnC{
    margin: 18px 0px;
}

.btnC button{
    padding: 10px 20px;
    border: none;
    background-color: #ff9e55;
    color: white;
    border-radius: 5px;
    width: 180px;
    font-size: 17px;
    font-weight: 500;
    border: 1px solid transparent;
    transition: 0.3s ease;
}

.btnC button:hover{
    background-color: transparent;
    border: 1px solid #ff9e55;
    transition: 0.3s ease;
}

.card-container-1{
    display: flex;
    margin: 30px 0px;
}

.card-container-2{
    display: flex;
    margin: 30px 0px;
}

.cards{
    width: 100px;
    height: 80px;
    margin: 0px 10px;
    background-color: #4740ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
    box-shadow: 5px 5px 4px rgba(0,0,0,0.5);
}

@media(max-width:600px){
    .dateContainer{
        width: 350px;
    }
    
    .dobS input{
        width: 90px;
        text-align: center;
    }
}
